body{
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 25% 200px 15%;
}
.item{
  background: coral;
  padding: 10px;
  border: 1px solid springgreen;
}
